{% extends 'base/layout.html' %} 
{% block content_sidebar %}
    {% with messages = get_flashed_messages(with_categories=true)  %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% if bobot%}
        {% if tfidf_pos %}
            <a href="javascript:;" onclick="confirmTFIDFPos()" style="pointer-events: none; cursor: default;">
                <button type="button" class="btn btn-sm btn-success mb-3" disabled>
                    <i class="fas fa-balance-scale fa-sm mr-1"> Mulai Proses TF-IDF Positif</i>
                </button>
            </a>
        {% else %}
            <a href="javascript:;" onclick="confirmTFIDFPos()">
                <button type="button" class="btn btn-sm btn-success mb-3">
                    <i class="fas fa-balance-scale fa-sm mr-1"> Mulai Proses TF-IDF Positif</i>
                </button>
            </a>
        {% endif %}
    {% else %}
        <div class="alert alert-info">
            The TF-IDF Positif is not available, please add the bobot IDF first (<a href="{{url_for('bobot.bobot_idf')}}">dataset</a>)
        </div>
    {% endif %}

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">Data TF-IDF Positif</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Kata</th>
                            <th class="text-center" width="60px">DF</th>
                            <th class="text-center" width="100px">IDF</th>
                            <th class="text-center" width="100px">TF-IDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tf in tfidf_pos %}
                            <tr>
                                <td>{{tf.kata}}</td>
                                <td class="text-center">{{tf.df}}</td>
                                <td class="text-center">{{tf.idf}}</td>
                                <td class="text-center">{{tf.tfidf}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

    <script>
        function confirmTFIDFPos() {
            const href = Flask.url_for("bobot.tfidf_positif_process");

            Swal.fire({
                title: 'Apakah anda yakin?',
                text: "Proses ini memerlukan cukup waktu lama",
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Lanjutkan',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.location.href = href;
                    Swal.fire({
                        title: 'TF-IDF Positif Is In Process!',
                        html: 'This process may take a while, please wait...',
                        // timer: 2000,
                        allowOutsideClick: false,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                            // timerInterval = setInterval(() => {
                            // const content = Swal.getContent()
                            // if (content) {
                            //     const b = content.querySelector('b')
                            //     if (b) {
                            //     b.textContent = Swal.getTimerLeft()
                            //     }
                            // }
                            // }, 100)
                        },
                        // willClose: () => {
                        //     clearInterval(timerInterval)
                        // }
                    }).then((result) => {
                    /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer) {
                            console.log('I was closed by the timer')
                        }
                    })
                }
            });
        }
    </script>
{% endblock content_sidebar %}
