{% extends 'base/layout.html' %} 
{% block content_sidebar %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Dataset</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" action="" method="post">
            {{form.hidden_tag()}}
            <div class="card-body">
                <div class="form-group">
                    {{ form.tweet.label(class="form-control-label") }}
                    {% if form.tweet.errors %}
                        {{ form.tweet(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.tweet.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tweet(class="form-control")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.sentiment.label(class="form-control-label") }}
                    {% if form.sentiment.errors %}
                        {{ form.sentiment(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.sentiment.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sentiment(class="form-control")}}
                    {% endif %}
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <!-- /.card -->
{% endblock content_sidebar %}
