{% extends 'base/layout.html' %} {% block content_notmenu %}

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <b>Analisis </b>Sentimen<br />
      RUU Cipta Kerja
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">please sign in to access system</p>
        <p>user & pass default: "admin123"</p>
        {% with messages = get_flashed_messages(with_categories=true)  %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="" method="post">
          {{form.hidden_tag()}}
          <div class="input-group mb-3">
            {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid")}}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user-circle"></span>
              </div>
            </div>
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
              <span>
                {{error}}
              </span>
              {% endfor %}
            </div>
            {% else %}
            {{form.username(class="form-control")}}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user-circle"></span>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="input-group mb-3">
            {% if form.password.errors %}
            {{form.password(class="form-control is-invalid")}}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>
                {{error}}
              </span>
              {% endfor %}
            </div>
            {% else %}
            {{form.password(class="form-control")}}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                {{ form.remember(class="form-check-input")}}
                {{ form.remember.label(class="form-check-label")}}
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              {{ form.submit(class="btn btn-primary btn-block")}}
            </div>
            <!-- /.col -->
          </div>
        </form>

        <!-- <p class="mb-2 mt-2">
          <a href="#">I forgot my password</a>
        </p> -->
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
  {% endblock content_notmenu %}